* {
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

ul li {
  list-style-type: none; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.main-btn {
  font-family: "Raleway", sans-serif;
  width: 200px; }
  .main-btn button {
    width: 100%;
    height: 56px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #f72b3b;
    color: white;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); }

.blog__button:hover {
  border: 1px solid #f72b3b;
  background: white;
  color: #f72b3b;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all; }

.main-btn_orange button {
  background-color: #ff6033; }
  .main-btn_orange button:hover {
    border: 1px solid #ff6033;
    background: white;
    color: #ff6033;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all; }

.main-btn-blue {
  margin-top: 50px;
  margin-bottom: 40px; }
  .main-btn-blue button {
    background-color: #5585a2; }
    .main-btn-blue button:hover {
      border: 1px solid #5585a2;
      background: white;
      color: #5585a2;
      -webkit-transition: 0.3s ease all;
      -o-transition: 0.3s ease all;
      transition: 0.3s ease all; }

.scroll {
  position: absolute;
  left: 50%;
  bottom: 70px;
  display: block; }

.subscribe-btn {
  margin-left: 30px; }
  .subscribe-btn input[type=submit] {
    cursor: pointer;
    width: 170px;
    height: 55px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #96b92c;
    border: none;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); }
    .subscribe-btn input[type=submit]:hover {
      border: 1px solid #96b92c;
      background: white;
      color: #96b92c;
      -webkit-transition: 0.3s ease all;
      -o-transition: 0.3s ease all;
      transition: 0.3s ease all; }

@media screen and (max-width: 520px) {
  .subscribe-btn {
    margin: 30px 0 0 0; } }

.contact-btn {
  width: 200px;
  height: 50px;
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
  border: none;
  background-color: #f72b3b;
  color: white;
  background-color: rgba(0, 196, 196, 0.5); }
  .contact-btn:hover {
    background-color: #00c4c4;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); }

@media screen and (max-width: 720px) {
  .contact-btn {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; } }

/* ABOUT SECTION */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #00b2b2;
  font-family: 'Raleway', sans-serif;
  color: white; }
  .about__title h2 {
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 10px; }
  .about__text p {
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    padding-bottom: 15px; }
  .about .wrapper {
    height: 700px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .about__img {
    width: 50%; }
  .about__content {
    width: 42.5%; }

@media screen and (max-width: 720px) {
  .about {
    min-height: 990px;
    padding: 40px 0; }
    .about .wrapper {
      height: unset; }
    .about__img {
      width: 100%; }
    .about__content {
      width: 100%;
      text-align: center; }
    .about__title h2 {
      font-size: 70px; } }

/* BLOG SECTION */
.blog {
  font-family: "Raleway", sans-serif;
  padding: 100px 0 120px 0;
  background-color: #b07cf7;
  color: white; }
  .blog__title {
    font-size: 90px;
    font-weight: 700; }
  .blog__text {
    max-width: 570px;
    font-size: 17px;
    font-weight: 300;
    margin: 30px 0 45px 0;
    text-align: center;
    line-height: 24px; }

.posts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 35px; }

.post {
  cursor: pointer;
  position: relative;
  margin: 15px 0;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5); }
  .post__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, rgba(0, 0, 0, 0.8)), color-stop(50%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 5%, rgba(0, 0, 0, 0) 50%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 5%, rgba(0, 0, 0, 0) 50%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 5%, rgba(0, 0, 0, 0) 50%); }
  .post:hover .post__overlay {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgba(0, 0, 0, 0.2)), color-stop(80%, rgba(0, 0, 0, 0.6)));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.6) 80%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.6) 80%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.6) 80%); }
  .post:hover .post__overlay .post__date {
    color: black;
    background-color: rgba(255, 255, 255, 0.8); }
  .post__date {
    width: 62px;
    height: 62px;
    margin: 30px 0 0 30px;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    background-color: rgba(55, 55, 55, 0.5); }
    .post__date_day {
      font-size: 32px; }
    .post__date_month {
      font-size: 21px; }
  .post__title {
    max-width: 340px;
    margin: 0 0 25px 20px;
    font-size: 20px;
    font-weight: 700; }
  .post__update {
    margin: 0 0 22px 20px;
    font-size: 13px;
    font-weight: 300; }

@media screen and (max-width: 720px) {
  .blog__title h2 {
    font-size: 70px; } }

/* SERVICES SECTION */
.services {
  background-color: #70bfff;
  font-family: "Raleway", sans-serif; }
  .services .wrapper {
    height: 790px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .services__box {
    margin-left: 100px;
    width: 33.33333%; }
    .services__box ul {
      height: 460px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  .services__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 110px;
    background: url(../img/services-bg.png) no-repeat center;
    background-size: contain;
    width: 50%;
    height: 527px; }
    .services__title h2 {
      color: white;
      font-size: 90px;
      font-weight: 700; }

.service {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100px;
  background-color: #ffffff;
  color: #262626;
  font-size: 20px;
  font-weight: 700; }
  .service__name {
    position: absolute;
    top: 0;
    right: 25%;
    width: 75%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: inset -1px 0px 0px 0px #9d9d9d;
    box-shadow: inset -1px 0px 0px 0px #9d9d9d; }
  .service__img {
    background: white;
    position: absolute;
    left: 75%;
    height: 100%;
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .service:hover {
    -webkit-box-shadow: 5px 5px 8px -1px rgba(0, 0, 0, 0.54);
    box-shadow: 5px 5px 8px -1px rgba(0, 0, 0, 0.54); }
  .service:hover .service__img {
    -webkit-box-shadow: 1px 0px 0px 0px #9d9d9d;
    box-shadow: 1px 0px 0px 0px #9d9d9d; }

@media screen and (max-width: 1035px) {
  .services {
    min-height: 985px; }
    .services .wrapper {
      height: unset;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .services__box {
      width: 100%;
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .services__list {
    width: 60%;
    margin-left: 0;
    margin: 50px 0 30px 0; }
  .services__title {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 100%; }
    .services__title h2 {
      font-size: 70px; } }

@media screen and (max-width: 720px) {
  .services__list {
    width: 80%; }
  .services__title {
    height: 327px; } }

@media screen and (max-width: 520px) {
  .services__box {
    margin-top: 50px; }
  .services__list {
    margin: 0; }
    .services__list ul {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .services__list ul li {
        margin-bottom: 10px; }
  .service {
    min-height: 70px;
    font-size: 16px; }
    .service img {
      max-width: 70%; } }

/* GALLERY SECTION */
.gallery {
  font-family: "Raleway", sans-serif;
  min-height: 1536px;
  padding-top: 100px;
  background-color: #ffe92f; }
  .gallery__title {
    color: #262626;
    font-size: 90px;
    font-weight: 700; }
  .gallery__text {
    max-width: 600px;
    text-align: center;
    line-height: 24px;
    color: #262626;
    font-size: 17px;
    font-weight: 300;
    margin: 27px 0 50px 0; }

.grid__firstline {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-bottom: 30px; }
  .grid__firstline > div {
    cursor: pointer; }
    .grid__firstline > div img:hover {
      -webkit-box-shadow: 5px 5px 8px -1px rgba(0, 0, 0, 0.54);
      box-shadow: 5px 5px 8px -1px rgba(0, 0, 0, 0.54); }

.peaches {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2; }

.grid_secondline {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[1];
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 30px; }
  .grid_secondline > div {
    cursor: pointer; }
    .grid_secondline > div:hover {
      -webkit-box-shadow: 5px 5px 8px -1px rgba(0, 0, 0, 0.54);
      box-shadow: 5px 5px 8px -1px rgba(0, 0, 0, 0.54); }

.currant {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column: 1;
  grid-column-start: 1; }

.persimmon {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column: 2;
  grid-column-start: 2; }

@media screen and (max-width: 1035px) {
  .gallery {
    min-height: 1000px; } }

@media screen and (max-width: 760px) {
  .grid__firstline {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-bottom: 15px; }
  .grid_secondline {
    grid-column-gap: 15px;
    grid-row-gap: 15px; }
  .gallery__title {
    font-size: 70px; } }

@media screen and (max-width: 520px) {
  .grid__firstline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0; }
    .grid__firstline > div {
      margin-bottom: 10px;
      max-width: 370px; }
  .grid_secondline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .grid_secondline > div {
      margin-bottom: 10px;
      max-width: 370px; } }

/* SUBSCRIBE SECTION */
.subscribe {
  font-family: "Raleway", sans-serif;
  background: url(../img/subscribe-bg.png) no-repeat right;
  background-size: cover; }
  .subscribe .wrapper {
    height: 500px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .subscribe__title {
    color: #262626;
    font-size: 40px;
    font-weight: 700; }
  .subscribe__text {
    max-width: 550px;
    color: #262626;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    margin: 33px 0; }

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .subscribe__form input[type=email] {
    width: 100%;
    max-width: 570px;
    height: 55px;
    border: 1px solid #262626;
    padding-left: 14px;
    font-weight: 700; }
    .subscribe__form input[type=email]::-webkit-input-placeholder {
      font-weight: 300; }
    .subscribe__form input[type=email]:-ms-input-placeholder {
      font-weight: 300; }
    .subscribe__form input[type=email]::-ms-input-placeholder {
      font-weight: 300; }
    .subscribe__form input[type=email]::placeholder {
      font-weight: 300; }

@media screen and (max-width: 1035px) {
  .subscribe {
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .subscribe .wrapper {
      height: unset;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
    .subscribe__title, .subscribe__text {
      color: #ffffff;
      text-shadow: 2px 2px #000000; } }

@media screen and (max-width: 520px) {
  .subscribe__form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

/* CONTACT SECTION */
.contact {
  font-family: "Raleway", sans-serif;
  background: url(../img/contact-bg.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0 120px 0; }
  .contact__heading {
    max-width: 370px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .contact__title {
    font-size: 90px;
    font-weight: 700; }
  .contact__text {
    margin: 45px 0 40px 0;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    max-width: 370px; }
  .contact__main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.contact__form {
  width: 500px; }
  .contact__form form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contact__form input {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 196, 196, 0.5);
    border: none;
    padding-left: 20px;
    margin-bottom: 20px;
    color: white;
    font-weight: 700; }
    .contact__form input:focus {
      background-color: #00c4c4;
      -webkit-box-shadow: inset 4px 0px 0px 0px #355b82;
      box-shadow: inset 4px 0px 0px 0px #355b82; }
    .contact__form input:hover {
      background-color: #00c4c4;
      -webkit-box-shadow: inset 4px 0px 0px 0px #355b82;
      box-shadow: inset 4px 0px 0px 0px #355b82; }
    .contact__form input::-webkit-input-placeholder {
      color: white;
      font-weight: 300;
      font-size: 15px; }
    .contact__form input:-ms-input-placeholder {
      color: white;
      font-weight: 300;
      font-size: 15px; }
    .contact__form input::-ms-input-placeholder {
      color: white;
      font-weight: 300;
      font-size: 15px; }
    .contact__form input::placeholder {
      color: white;
      font-weight: 300;
      font-size: 15px; }
  .contact__form textarea {
    width: 100%;
    background-color: rgba(0, 196, 196, 0.5);
    resize: none;
    border: none;
    min-height: 250px;
    padding: 20px 0 0 20px;
    margin-bottom: 20px;
    color: white;
    font-weight: 700; }
    .contact__form textarea:focus {
      background-color: #00c4c4;
      -webkit-box-shadow: inset 4px 0px 0px 0px #355b82;
      box-shadow: inset 4px 0px 0px 0px #355b82; }
    .contact__form textarea:hover {
      background-color: #00c4c4;
      -webkit-box-shadow: inset 4px 0px 0px 0px #355b82;
      box-shadow: inset 4px 0px 0px 0px #355b82; }
    .contact__form textarea::-webkit-input-placeholder {
      color: white;
      font-weight: 300;
      font-size: 15px; }
    .contact__form textarea:-ms-input-placeholder {
      color: white;
      font-weight: 300;
      font-size: 15px; }
    .contact__form textarea::-ms-input-placeholder {
      color: white;
      font-weight: 300;
      font-size: 15px; }
    .contact__form textarea::placeholder {
      color: white;
      font-weight: 300;
      font-size: 15px; }

.contact__info {
  font-weight: 300;
  font-size: 20px;
  margin-left: 170px; }
  .contact__info div {
    margin-bottom: 20px; }
  .contact__info h3 {
    font-weight: 700;
    font-size: 17px; }

@media screen and (max-width: 1035px) {
  .contact__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .contact__info {
    margin-top: 40px;
    text-align: center;
    margin-left: 0;
    color: white; } }

@media screen and (max-width: 720px) {
  .contact__form {
    width: 90%; }
  .contact__title {
    font-size: 70px; } }

.footer {
  font-family: "Raleway", sans-serif;
  background-color: #262626;
  color: #b9b9b9;
  font-size: 16px;
  font-weight: 300; }
  .footer .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 90px; }
  .footer__logo {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 25px; }

.love {
  color: #ff2b58;
  font-weight: 700; }

.copyright {
  text-align: center; }

@media screen and (max-width: 720px) {
  .footer {
    min-height: 154px; }
    .footer .wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      height: unset; }
      .footer .wrapper div {
        margin: 15px; } }

.header {
  background-image: url(../img/header_background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1000px;
  position: relative; }
  .header__nav {
    width: 100%;
    position: fixed;
    z-index: 20;
    padding: 40px 0 20px 0;
    background: rgba(249, 248, 251, 0.7); }
    .header__nav .wrapper {
      position: relative;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: start;
    align-self: flex-start;
    max-width: 370px;
    margin-top: 350px; }
  .header__title h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 60px; }
  .header__text {
    max-width: 370px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    margin: 25px 0 30px 0; }

.header__nav-scrolled {
  padding: 10px 0; }

.nav__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 600px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px; }

.nav__menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 48px; }
  .nav__menu a:hover {
    -webkit-box-shadow: inset 0px 4px 0px 0px #ff6033;
    box-shadow: inset 0px 4px 0px 0px #ff6033; }

.nav__logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 50px; }

.open {
  display: none; }

@media screen and (max-width: 990px) {
  .header__nav {
    background-color: transparent;
    padding: 0; }
    .header__nav .wrapper {
      background: rgba(249, 248, 251, 0.7);
      height: 100px; }
  .nav__menu,
  .nav__logo {
    display: none; }
  .open {
    position: fixed;
    top: 25px;
    right: 40px;
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear; }
    .open:hover {
      opacity: 0.8; }
    .open span {
      display: block;
      float: left;
      clear: both;
      height: 4px;
      width: 40px;
      border-radius: 40px;
      background-color: #000000;
      position: absolute;
      right: 3px;
      top: 3px;
      overflow: hidden;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      .open span:nth-child(1) {
        margin-top: 10px;
        z-index: 9; }
      .open span:nth-child(2) {
        margin-top: 25px; }
      .open span:nth-child(3) {
        margin-top: 40px; }
  .sub-menu {
    -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    height: 0;
    width: 0;
    right: 0;
    top: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    z-index: 18;
    overflow: hidden; }
    .sub-menu li {
      display: block;
      float: right;
      clear: both;
      height: auto;
      margin-right: -160px;
      -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .sub-menu li:first-child {
        margin-top: 220px; }
      .sub-menu li:nth-child(1) {
        -webkit-transition-delay: 0.05s;
        -o-transition-delay: 0.05s;
        transition-delay: 0.05s; }
      .sub-menu li:nth-child(2) {
        -webkit-transition-delay: 0.10s;
        -o-transition-delay: 0.10s;
        transition-delay: 0.10s; }
      .sub-menu li:nth-child(3) {
        -webkit-transition-delay: 0.15s;
        -o-transition-delay: 0.15s;
        transition-delay: 0.15s; }
      .sub-menu li:nth-child(4) {
        -webkit-transition-delay: 0.20s;
        -o-transition-delay: 0.20s;
        transition-delay: 0.20s; }
      .sub-menu li:nth-child(5) {
        -webkit-transition-delay: 0.25s;
        -o-transition-delay: 0.25s;
        transition-delay: 0.25s; }
      .sub-menu li a {
        color: #262626;
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        font-weight: 700;
        width: 100%;
        display: block;
        float: left;
        line-height: 40px; }
        .sub-menu li a:hover {
          -webkit-box-shadow: inset 0px 4px 0px 0px #ff6033;
          box-shadow: inset 0px 4px 0px 0px #ff6033; }
  .oppenned .sub-menu {
    opacity: 1;
    height: 500px;
    width: 500px; }
  .oppenned span:nth-child(2) {
    overflow: visible; }
  .oppenned span:nth-child(1),
  .oppenned span:nth-child(3) {
    z-index: 100;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .oppenned span:nth-child(1) {
    -webkit-transform: rotate(45deg) translateY(12px) translateX(12px);
    -ms-transform: rotate(45deg) translateY(12px) translateX(12px);
    transform: rotate(45deg) translateY(12px) translateX(12px); }
  .oppenned span:nth-child(2) {
    height: 490px;
    width: 490px;
    right: -160px;
    top: -160px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7); }
  .oppenned span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-10px) translateX(10px);
    -ms-transform: rotate(-45deg) translateY(-10px) translateX(10px);
    transform: rotate(-45deg) translateY(-10px) translateX(10px); }
  .oppenned li {
    margin-right: 270px; } }

@media screen and (max-width: 720px) {
  .header__content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

@media screen and (max-width: 520px) {
  .header__content {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; } }
