.main-btn {
  font-family: $font-primary;
  width: 200px;

  button {
    width: 100%;
    height: 56px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #f72b3b;
    color: white;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }

}

.blog__button {
  &:hover {
    border: 1px solid #f72b3b;
    background: white;
    color: #f72b3b;
    transition: 0.3s ease all;
  }
}

.main-btn_orange {
  button {
    background-color: #ff6033;

    &:hover {
      border: 1px solid #ff6033;
      background: white;
      color: #ff6033;
      transition: 0.3s ease all;
    }
  }
}

.main-btn-blue {
  margin-top: 50px;
  margin-bottom: 40px;

  button {
    background-color: #5585a2;

    &:hover {
      border: 1px solid #5585a2;
      background: white;
      color: #5585a2;
      transition: 0.3s ease all;
    }
  }
}

.scroll {
  position: absolute;
  left: 50%;
  bottom: 70px;
  display: block;
}

.subscribe-btn {
  margin-left: 30px;

  input[type=submit] {
    cursor: pointer;
    width: 170px;
    height: 55px;
    font-family: $font-primary;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #96b92c;
    border: none;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);

    &:hover {
      border: 1px solid #96b92c;
      background: white;
      color: #96b92c;
      transition: 0.3s ease all;
    }
  }
}



@media screen and (max-width: 520px) {
  .subscribe-btn {
    margin: 30px 0 0 0;
  }
}

.contact-btn {
  width: 200px;
  height: 50px;
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
  border: none;
  background-color: #f72b3b;
  color: white;
  background-color: rgba(0, 196, 196, 0.5);

  &:hover {
    background-color: #00c4c4;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 720px) {
  .contact-btn {
    align-self: center;
  }
}